#rowDiv{
	margin: auto;
	text-align: center;
	width: 60%;
}

#row11{

	border-bottom: solid 2px;
	border-top: solid 2px;
	margin: 0 0 2em 0;
	padding: 3px 0 3px 0;
}

#inputText h3{
	text-align: center;
	color: #ffffff;
	font-size: 30px;
	font-weight: 500;
	letter-spacing: 0.1em;
	padding-top: 20px;
}

#inputText2 h3{
	text-align: center;
	color: #000;
	font-size: 30px;
	font-weight: 500;
	letter-spacing: 0.1em;
}

#rowDiv2{
	margin: auto;
	text-align: center;
	width: 60%;
	padding-top: 20px;
}

input[type="text"]{
	height: 40px;
	font-size: 20px;
}

#BUTTONID{
	height: 40px;
	font-size: 20px;
	font-weight: bold;
}
#BUTTON2ID{
	height: 40px;
	font-size: 20px;
	font-weight: bold;
}

#show{
	padding-top: 20px;
	margin: auto;
	width: 60%;
}

#show2{
	text-align: center;
	margin: auto;
	width: 60%;
	padding-bottom: 50px;
}

#show3{
	text-align: center;
	margin: auto;
	width: 60%;
	padding-bottom: 20px;
}

#errorcity{
	width: 50%;
	font-size: 25px;
	text-align: center;
	margin: auto;
}


nav {

  max-width: 960px;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  padding: 30px 0 ;
}
 
nav ul {
  text-align: top center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6)
}
nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 20px;
  font-family: "Roboto";
  color: #FFFFFF;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
  font-size: 25px;
  text-decoration: none;
  display: block;
}
nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 0.7);

}


#banner {
	background-attachment: scroll, scroll, scroll, fixed;
	background-color: #645862;
	background-image: url("kk.jpg");
	background-position: center;
	background-repeat: no-repeat, no-repeat, repeat, no-repeat;
	background-size: cover;
	color: #fff;
	padding: 6em 0;
	text-align: center;
}

		#banner .container1 header {
				display: inline-block;
				border-bottom: solid 2px;
				border-top: solid 2px;
				margin: 0 0 2em 0;
				padding: 3px 0 3px 0;
			}


			#banner .container1 header h2 {
				border-bottom: solid 2px;
				border-top: solid 2px;
				font-size: 45px;
				font-weight: 900;
				letter-spacing: 0.2em;
				margin: 0;
				padding-left: 0.05em;
				position: relative;
				text-transform: uppercase;
			}

			#banner .container1 p {
				padding-top: 20px;
				color: #fff;
				font-weight: 100;
				font-size: 20px;
				position: relative;
				text-transform: uppercase;
			}


#jumboHead{
	background-attachment: scroll, scroll, scroll, fixed;
	background-color: #645862;
	background-image: url("four-seasons.jpg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat, no-repeat, repeat, no-repeat;
	color: #fff;
	padding: 7em 0;
	text-align: center;
}


	#jumboHead h2{
		color: #000;
		margin: 0 0 2em 0;
		padding: 20px;
		font-size: 40px;
		border-bottom: solid 2px;
		border-top: solid 2px;
		text-align: center;
	}	

	#jumboHead p{
		color: #000;
		padding-top: 20px;
		padding-bottom: 20px;
		font-size: 20px;
		text-align: center;
		background-color: rgba(255, 255, 255, 0.2);

	}


#About {
		background-attachment: scroll, scroll, scroll, fixed;
		background-color: #645862;
		background-image: url("light-tl.svg"), url("light-tr.svg"), url("overlay.png"), url("banner.jpg");
		background-position: top left, top right, top left, bottom center;
		background-repeat: no-repeat, no-repeat, repeat, no-repeat;
		background-size: 25em, 25em, auto, cover;
		color: #fff;
		padding: 2.5em;
		text-align: center;
}

	#About header {
			margin-bottom: 2em;
			font-size: 18px;
	}

	.buttons{
		background-color: rgba(255,255,255,0.1);
		font-size:40px;
		border-radius:12px;
		border: 1px solid #fff;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
		width:40%;
		text-align:center;
		margin:auto;
}
.buttons a{
	color:#fff;
	padding:5px 5px 5px 5px;
	text-align:center;
	font-size:25px;
	
	
}
.buttons:hover {
    background-color: rgba(255,255,255,0.2);
		font-size:40px;
    		border: 2px solid #000;
}